
// main Color

$mainColor: #F9CB00;
$secondColor: #F99500;
$peurple: #CC9EFF;
$white: #eee;
$black: #333;
$lightBlack: #777;


// second color
$mainColor2: #00b2f9;
$secondColor2: #0089f9;
$peurple: #CC9EFF;
$white: #eee;
$black: #333;
$lightBlack2: #777;




// seccond2 color

$mainColor3: #8100f9;
$secondColor3: #4200f9;
$peurple: #CC9EFF;
$white: #eee;
$black: #333;
$lightBlack: #777;



